# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS specific
.DS_Store
.AppleDouble
.LSOverride
Icon

# Windows specific
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini

# Build and logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Depending on if you ever add a bundler (webpack/vite)
node_modules/
dist/
build/
.env
.env.local
